@font-face {
	font-family: Helvetica Neue;
	src: url('../public/fonts/neue.woff')
}
@font-face {
	font-family: Alagambe;
	src: url('../public/fonts/alagambe.woff')
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
